@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body {
    height: 100%;
    width: 100%;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(34, 30, 30);
}

.heading h1 {
    font-size: 6vw;
    color: #fff;
    margin-top: 2.5vw;
    font-family: "Poppins", sans-serif;
}

.heading span {
    color: #fff;
    font-size: 6vw;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    /* -webkit-text-stroke: red 3px; */
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    color: orangered;
}

#notice {
    margin-top: 40px;
    margin-bottom: 25px;
    background-color: rgb(199, 15, 15);
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 10px;
    color: #fff;
    font-family: 'poppins';
    word-spacing: 3px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgb(244, 72, 72);
    transition: 0.3s ease-in-out all;
}

#notice:hover {
    box-shadow: 0px 0px 20px rgb(244, 72, 72);
}

#map { 
    height: 230px; 
    width: 70%;
    border: green 5px solid;
    border-radius: 10px;
    z-index: 2;
}

.info {
    display:flex;
    gap:5vw;
}

h2 {
    font-size: 3.5vw;
    color: #fff;
    margin-top: 20px;
    font-family: "Poppins", sans-serif;
}
#footer {
    width: 100%;
    position: fixed;
    bottom: 0;
}

.marquee {
    width: 100%;
	line-height: 50px;
	background-color: orangered;
	color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee p {
    display: inline-block;
    font-size: 20px;
    font-family: poppins;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
    font-weight: 500;
}
.marquee a {
    color: black;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media (max-width: 800px) {
    .heading h1 {
        font-size: 10vw;
    }
    .heading span {
        font-size: 10vw;
    }
    h2 {
        font-size: 30px;
        margin-top: 30px;
        position: relative;
        top: -40px;
        line-height: 5vw;
        text-align: center;
    }
    #map {
        width: 90%;
        margin-top: 3vw;
    }
    .info {
        margin-top: 50px;
        flex-direction: column;
        gap: 10px;
    }
    #notice {
        font-size: 15px;
        padding: 10px 20px;
    }
}
    
